<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="ConsoleLog" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMddHHmmss}:%-5p:[%t]:%m%n" />
        </layout>
    </appender>
    <appender name="LocalLog" class="org.apache.log4j.rolling.RollingFileAppender">
    	<param name="append" value="true"/>
    	<param name="threshold" value="debug"/>
		<param name="immediateFlush" value="true"/>
    	<rollingPolicy name="File" class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      		<param name="FileNamePattern" value="module/log/module-%d{yyyyMMddHH}.log.gz"/>
      		<param name="ActiveFileName" value="module/log/module.log"/>
    	</rollingPolicy>
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%d{yyyyMMddHHmmss}:%-5p:[%t]:%m%n"/>
    	</layout>
  	</appender>
    <root>
        <level value="info" />
        <appender-ref ref="ConsoleLog"/>
        <appender-ref ref="LocalLog"/>
    </root>
</log4j:configuration>